<h1 class="titulo">New Task</h1>
<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <div class="user">
        <label>Name</label>
        <select>
            <option [ngValue]="null">Select</option>
            <option [ngValue]="expert.id" *ngFor="let expert of experts | async">{{expert.name}}</option>
        </select>
    </div>
    <div>
        <label>Title</label>
        <input type="text" placeholder="Title...">
    </div>
    <div class="content">
        <div>
            <label>Date</label>
            <input type="date">
        </div>
        <div>
            <label>Init time</label>
            <input type="time">
        </div>
        <div>
            <label>End time</label>
            <input type="time">
            <small class="text-danger"
                *ngIf="scheduleForm.errors?.['timeError']">{{scheduleForm.errors?.['timeError']}}</small>
        </div>
    </div>
    <div>
        <label>Description</label>
        <textarea rows="6" placeholder="Description..."></textarea>
    </div>
    <div class="button-container">
        <div class="ancora">
            <a routerLink="/schedules">Back</a>
        </div>
        <div>
            <button type="submit" class="button" [disabled]="!scheduleForm.valid">
                Save
            </button>
        </div>
    </div>
</form>