.modal-body p,
.modal-body h5 {
    color: #000000 !important;
}

.modal-body p {
    margin-bottom: 2px;
}

.modal-body span {
    font-weight: bold;
}
.header {
    display: flex;
}
.button-add {
    border: 1px solid #8257e6;
    padding: 0.35rem 0.55rem;
    border-radius: 6px;
    color: #8257e6;
}
.sub-header {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.date {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-grup {
    display: flex;
    width: 100%;
    gap: 1rem;
}
.button-grup button {
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   border: 0;
   gap: 2rem;
   min-width: 40px;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
}

.end {
    justify-content: end;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.close {
    border: none;
    background: transparent;
    font-size: 1.125rem;
    font-weight: bold;
}